<!DOCTYPE html>
<html lang="en">

<head>
    <title>HarryPotter</title>
</head>

<body>
    <h1>Harry Potter API</h1>
    <ul>
        <h2>
            <li><a
                    href="https://harry-potter-api-param.herokuapp.com/characters">https://harry-potter-api-param.herokuapp.com/characters</a>----view
                all characters</li>
        </h2>

        <h2>
            <li><a
                    href="https://harry-potter-api-param.herokuapp.com/characters/student">https://harry-potter-api-param.herokuapp.com/characters/student</a>----view
                all characters who are Hogwarts students during the book series</li>
        </h2>

        <h2>
            <li><a
                    href="https://harry-potter-api-param.herokuapp.com/characters/staff">https://harry-potter-api-param.herokuapp.com/characters/staff</a>----view
                all characters who are Hogwarts staff during the book series</li>
        </h2>

        <h2>
            <li><a
                    href="https://harry-potter-api-param.herokuapp.com/characters/house/:house">https://harry-potter-api-param.herokuapp.com/characters/house/:house</a>----view
                all characters in a certain house, e.g. /slytherin</li>
        </h2>

        <h2>
            <li><a
                    href="https://harry-potter-api-param.herokuapp.com/characters/name/:name">https://harry-potter-api-param.herokuapp.com/characters/name/:name</a>----view
                all characters information, e.g. /Ron Weasley</li>
        </h2>
    </ul>

</body>

</html>